.principal {
    margin: 0 3%;
}


/* .img-banner {
    box-shadow: 0 14px 28px rgba(243, 203, 70, 0.25), 0 10px 10px rgba(243, 203, 70, 0.25);
} */

.textop {
    margin: 0 15%;
}

A {
    text-decoration: none;
}